@import url("reset.css");

body{
	font-family: Arial,微軟正黑體;
	font-size: 16px;
	/*background-color: #f2f2f2;*/
}

.wrapper{
	width: 100%;
	height: 181px;
	margin: 0 auto;
	background-color: #219EBC;
}

/*---TOP Block---*/

.top{
	width: 1200px;
	height: 182px;
	margin: 0 auto;
	overflow: hidden;
}

.top-logo img{
	float: left;
	display: block;
	width: 152px;
	height: 74px;
	margin: 54px auto;
}

.top ul{
	float: right;
	overflow: hidden;
	margin-bottom: 50px;
}

.top li{
	width: 80px;
	float: left;
	margin-top: 50px;
	margin-left: 25px;
}

.top .nav-list img{
	margin-left: 5px;
	margin-bottom: 15px;

}

.top .nav-list a{
	text-decoration: none;
	text-align: center;
	font-family: 微軟正黑體;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.top .nav-list a:hover{
	color: #FFB703;
	font-weight: bold;
}

/*---Main Block---*/

.main_section{
	width: 100%;
	background-color: #f2f2f2;
}

.main_section_1{
	width: 1200px;
	margin: 0 auto;
}

/*麵包屑*/
.main_section-box_1{}

.bread-1{
    /*margin: 20px;*/
    padding: 20px 0;
    box-sizing: border-box;
    color: #B4B4B4;
    font-size: 12px;
}

.bread-1 p{
	font-family: 微軟正黑體;
}


/*區塊一主圖*/
.main_section-main_1{
	background-image: url(../img/main_bg_3.jpg);
	background-repeat: no-repeat;
	width: 1200px;
	height: 330px;
	margin: 0 auto;
	border-radius: 50px;
/*	display: flex;
	align-items:center;
    justify-content:center;*/
    /*border: 1px solid red;*/

}

.main_section-main_1 h2{
	text-align: center;
	font-size: 36px;
	color: #fff;
	font-weight: bold;
	padding-top: 130px;
	padding-bottom: 20px;
	box-sizing: border-box;
	font-family: 微軟正黑體;


}

.main_section-main_1 p{
	display: block;
	margin: 0 auto;
	width: 700px;
	font-size: 22px;
	letter-spacing: .5px;
	line-height: 1.6;
	color: #fff;
	font-weight: bold;
	text-align: center;
	/*border: 1px solid red;*/
}


/*---Main Block 2 / 總熱量資訊 ---*/
.main_block_cal{
	width: 1200px;
	height: 300px;
	display: block;
	margin: 0 auto;

}

.cal_left_block{
	/*outline: 3px solid green;*/
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.cal_4_block{
	/*outline: 1px solid orange;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
}

.cal_4_block .allcal_1{
	background-color: #219ebc;
	width: 250px;
	height: 140px;
	border-radius: 50px;

}
.cal_4_block .allcal_2{
	background-color: #219ebc;
	width: 250px;
	height: 140px;
	border-radius: 50px;

}
.cal_4_block .allcal_3{
	background-color: #219ebc;
	width: 250px;
	height: 140px;
	border-radius: 50px;


}
.cal_4_block .allcal_4{
	background-color: #219ebc;
	width: 250px;
	height: 140px;
	border-radius: 50px;


}
.allcal{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-right:20px; 
}
.allcal img{
	width: 30px;
	height: 30px;
	padding-left: 20px;
	padding-top: 10px;

}
.allcal h2{
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-left: 10px;
	padding-top: 10px;
}
.cal_4_block img{
	/*float: left;*/
	max-width: 100%;
	margin-left: 20px;
	/*margin-top: 10px;*/
	/*border: 1px solid red;*/
}

.cal_4_block h2{
	/*border: 1px solid red;*/}

/*左方四格結束*/

.cal_right_block{
	background-color: #219ebc;
	width: 600px;
	height: 300px;
	border-radius: 50px;

}

.cal_right_block p{
	width: 600px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: #fff;

	/*border: 1px solid red;*/
}

.boder_bottom{}

/*---Main Block 3---*/

.main_block_3{
	width: 100%;
	background-color: #219EBC;
	margin: 50px auto;
}

.main_block_all{
	width: 1200px;
	height: 716px;
	margin: 0 auto;
	padding-top: 20px;
	box-sizing: border-box;
	/*border: 3px solid black;*/
}

.main_top{
	margin: 50px 0;
	overflow: hidden;
	/*border: 3px solid black;*/
}

.main_top img{
	float: left;
	margin-top: 5px;
/*	border: 1px solid red;*/
}

.main_top h2{
	color: white;
	font-size: 28px;
	font-weight: bold;
	padding-top: 10px;
	box-sizing: border-box;
	margin-left: 35px;
    /*border: 1px solid red;*/
}

/*輪播熱門商品*/

.hot-product{
	text-align: center;
	overflow: hidden;
	position: relative;

	/*border: 1px solid yellow;*/
}

.hot-product .left_button{
	width: 46px;
	height: 73px;
	position: absolute;
    top: 177px;
    left: 0;
}

.hot-product .right_button{
	width: 46px;
	height: 73px;
	position: absolute;
    top: 177px;
    right: 0;
}

.hot-product ul{
	display: flex;
}

.hot-product li{
	float: left;
	background-color: #fff;
	border-radius: 50px;
	width: 324px;
	height: 480px;
	margin-left: 40px;
	flex-shrink: 0;
	/*border: 1px solid red;*/
}

.hot-product img{
	width: 262px;
	height: 215px;
	margin: 40px 0;
	/*border: 1px solid red;*/
}

.hot-product h3{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	/*border: 1px solid red;*/
}

.hot-product p{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4;
	margin-left: 40px;
	margin-top: 40px;
}

.product_1{
	margin-left: 0;
}

.product_4{
	opacity: .5;
}

/*---Main Block 4---*/

.main_block_4{
	width: 100%;
	background-color: #219EBC;
	margin: 50px auto;
}

.main_block_all{
	width: 1200px;
	height: 716px;
	margin: 0 auto;
	padding-top: 20px;
	box-sizing: border-box;
	/*border: 3px solid black;*/
}

.main_top{
	margin: 50px 0;
	overflow: hidden;
	/*border: 3px solid black;*/
}

.main_top img{
	float: left;
	margin-top: 5px;
/*	border: 1px solid red;*/
}

.main_top h2{
	color: white;
	font-size: 28px;
	font-weight: bold;
	padding-top: 10px;
	box-sizing: border-box;
	margin-left: 35px;
    /*border: 1px solid red;*/
}

/*輪播熱門商品*/

.hot-product{
	text-align: center;
	overflow: hidden;
	position: relative;

	/*border: 1px solid yellow;*/
}

.hot-product .left_button{
	width: 46px;
	height: 73px;
	position: absolute;
    top: 177px;
    left: 0;
}

.hot-product .right_button{
	width: 46px;
	height: 73px;
	position: absolute;
    top: 177px;
    right: 0;
}

.hot-product ul{
	display: flex;
}

.hot-product li{
	float: left;
	background-color: #fff;
	border-radius: 50px;
	width: 324px;
	height: 480px;
	margin-left: 40px;
	flex-shrink: 0;
	/*border: 1px solid red;*/
}

.hot-product img{
	width: 262px;
	height: 215px;
	margin: 40px 0;
	/*border: 1px solid red;*/
}

.hot-product h3{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	/*border: 1px solid red;*/
}

.hot-product p{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4;
	margin-left: 40px;
	margin-top: 40px;
}

.product_1{
	margin-left: 0;
}

.product_4{
	opacity: .5;
}

/*--- Footer ---*/
footer{
	background-color: #8ECAE6;
	width: 100%;
	height: 428px;
}

.footer_all{
	width: 1200px;
	margin: 0 auto;
	margin-top: 100px;

	position: relative;
	/*display: flex;*/
}

/*LOGO*/
.footer_logo{
	padding: 40px 0;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

.footer_logo img{
	width: 100px;
	height: 50px;
}

/*三條一包*/
.footer-sel{
	display: flex;
}

/*第一行*/
.footer_content_1{}

.footer_content_1 h3{
	font-size: 18px;
	font-family: 微軟正黑體;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 10px 0;
	margin-right: 100px;
	margin-bottom: 30px;

	/*border: 1px solid red;*/
}

.footer_content_1 ul{}

.footer_content_1 li{
	font-size: 16px;
	font-weight: normal;
	letter-spacing: .5px;
	margin-bottom: 20px;
}

.footer_content_1 a{
	text-decoration: none;
	color: black;
}

.footer_content_1 a:hover{
	color: #fff;
	font-weight: bold;
}

/*第二行*/
.footer_content_2{}

.footer_content_2 h3{
	font-size: 18px;
	font-family: 微軟正黑體;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 10px 0;
	margin-right: 100px;
	margin-bottom: 30px;
}

.footer_content_2 ul{}

.footer_content_2 li{
	font-size: 16px;
	font-weight: normal;
	letter-spacing: .5px;
	margin-bottom: 20px;
}

.footer_content_2 a{
	text-decoration: none;
	color: black;
}

.footer_content_2 a:hover{
	color: #fff;
	font-weight: bold;
}

/*第三行*/
.footer_content_3{}

.footer_content_3 h3{
	font-size: 18px;
	font-family: 微軟正黑體;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 10px 0;
	margin-right: 100px;
	margin-bottom: 30px;
}

.footer_content_3 ul{}

.footer_content_3 li{
	font-size: 16px;
	font-weight: normal;
	letter-spacing: .5px;
	margin-bottom: 20px;
}

.footer_content_3 a{
	text-decoration: none;
	color: black;
}

.footer_content_3 a:hover{
	color: #fff;
	font-weight: bold;
}

/*右側社群*/
.footer_social{
	/*float: right;*/
	width: 190px;
	position: absolute;
	right: 0;
	top:0;
	margin-top: 150px;
	/*border: 1px solid red;*/
}

.footer_social h3{
	font-size: 18px;
	font-weight: bold;
}

.footer_social ul{
	display: flex;
	/*border: 1px solid red;*/
}

.footer_social li{}

.footer_social img{
	width: 50px;
	height: 50px;
	margin-right: 20px;
	margin-top: 20px;
}

.footer_social a{}

.footer_social a:hover{}
/*--- Footer 結束 ---*/


